body {
  background-color: #fff9e2;
  color: #c88938;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Tahoma;
}

h4 {
    margin-top: 0;
    font-weight: 400;
    color: #111;
}

a {
  text-decoration: none;
}

img {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.meal-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 200px;
  height: 250px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
}


.container .card .img-stk img {
  position: absolute;
  width: 100%;
  height: 70%;
  transition: 0.5s;
}

.container .card:hover .img-stk img {
  filter: brightness(50%);
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  transition: 0.2s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 180px;
}

.container .card .contentBx h2 {
  color: #c88938;
  font-weight: 600;
  font-size: large;
}

.container .card:hover .contentBx h2 {
  color: rgb(255, 255, 255);
}

.container .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c88938;
  border-radius: 4px;
  margin-top: 70px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.2s;
}

.container .card:hover .contentBx a {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.1s;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  margin-top: 100px;
}

.footer footer {
color: #111;
}

.footer footer span {
color: red;
}